{% extends "::layout/layout.html.twig" %}

{% block titre %}Canturla - {{ produit.nom }}{% endblock %}
{% block description %}{{ produit.description }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns">

            <div class="column is-3">
            {% include '::modulesUsed/navigation.html.twig' %}
            {{ render(controller('EcommerceBundle:Panier:menu')) }}
        </div>

            <div class="column is-5">
                <div class="tile is-ancestor is-12">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <img src="{{ produit.image.AssetPath|imagine_filter('produit') }}" alt="{{ produit.image.name }}" width="470" height="310">
                        </article>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="tile is-ancestor is-12">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <h4 class="title">{{ produit.nom }}</h4>
                            <h5 class="categorie">{{ produit.categorie.nom }}</h5>
                            <p>{{ produit.description }}</p>
                            <br />
                            <h4 class="has-text-right"><b>{{ produit.prix|tva(produit.tva.multiplicate) }}€</b></h4>
                            <br />
                            {% if panier[produit.id] is not defined %}
                                <form action="{{  path('ajouter', { 'id' :  produit.id }) }}" method="get" class="is-centered">
                                    <p class="control has-addons">
                                        <span class="select">
                                            <select name="qte">
                                                {% for i in 1..10 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                        <button class="button button-vert">Ajouter au panier</button>
                                    </p>

                                    <div>

                                    </div>
                                </form>
                            {% else %}
                                <div>
                                    <a href="{{ path('panier') }}" class="button button-vert">Ce produit est déjà dans votre panier</a>
                                </div>
                            {% endif %}
                        </article>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}