{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="columns">

        <div class="column is-3">
            {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
        </div>

        <div class="column is-9">

            <div class="tile is-ancestor">
                <div class="tile is-parent is-12">
                    <article class="tile is-child box is-12">
                        <h2 class="title is-3 indieflower">Modifier mon mot de passe</h2>
                    </article>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent is-12">
                    <article class="tile is-child box is-12">
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        {{ form_label(form.current_password, null, {'label_attr': {'class': 'label is-3'}}) }}
                        <p class="control has-icon">
                            {{ form_widget(form.current_password, { 'attr': {'class': 'input is-9'} }) }}
                            <i class="fa fa-lock"></i>
                        </p>
                        {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'label is-3'}}) }}
                        <p class="control has-icon">
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input is-9'} }) }}
                            <i class="fa fa-lock"></i>
                        </p>
                        {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'label is-3'}}) }}
                        <p class="control has-icon">
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input is-9'} }) }}
                            <i class="fa fa-lock"></i>
                        </p>
                        <br />
                        <div class="has-text-right">
                            <input class="button button-vert" type="submit" value="{{ 'change_password.submit'|trans }}" />
                        </div>
                        {{ form_end(form) }}
                    </article>
                </div>
            </div>

        </div>

    </div>
</div>
