<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}Canturla - By Meg4R0M{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bulma.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
            <link rel="stylesheet" href="{{ asset('css/comments.css') }}" type="text/css" />
            {% endstylesheets %}
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header class="navbar-fixed">
        <nav id="navigation" class="nav has-shadow hero is-dark">
            <div class="container">
                <div class="nav-left">
                    <a href="{{ path('index') }}"><img src="{{ asset('img/canturladrive.png') }}" alt="Canturla Logo Min" width="250px" class="is-12-desktop"></a>
                </div>
                <span id="nav-toggle" class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div id="nav-menu" class="nav-menu nav-menu1 nav-center">
                    <a class="nav-item is-tab{% if app.request.get('_route') == 'index' %} is-active{% endif %} indieflower menutitle" href="{{ path('index') }}">Accueil</a>
                    <a class="nav-item is-tab{% if '/produits/' in app.request.requestUri %} is-active{% endif %} indieflower menutitle" href="{{ path('produits') }}">Produits</a>
                    <a class="nav-item is-tab{% if '/panier/' in app.request.requestUri %} is-active{% endif %} indieflower menutitle" href="{{ path('panier') }}">Panier</a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-item is-tab{% if '/profile/' in app.request.requestUri %} is-active{% endif %} indieflower menutitle" href="{{ path('fos_user_profile_show') }}">Profil</a>
                    {% else %}
                        <a class="nav-item is-tab{% if '/login' in app.request.requestUri %} is-active{% endif %} indieflower menutitle" href="{{ path('fos_user_security_login') }}">Connection</a>
                    {% endif %}
                    <span class="nav-item is-offset-2 is-12-mobile">
                        {{ render(controller('EcommerceBundle:Produits:recherche')) }}
                    </span>
                </div>
            </div>
        </nav>
    </header>

    <div class="spacer"></div>

    {% block body %}{% endblock %}
    <div class="has-text-centered">
        <img src="{{ asset('img/hr.png') }}" width="100%" height="100px"/>
    </div>
        <footer class="footer">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="content has-text-left">
                            <h4 class="title is-4 has-text-left indieflower">Informations</h4>
                            <hr>
                            {{ render(controller('PagesBundle:Pages:menu')) }}
                        </div>
                    </div>
                    <div class="column">
                        <div class="content has-text-centered">
                            <h4 class="title is-4 has-text-centered indieflower">Notre magasin</h4>
                            <hr>
                            <p class="about subheader">Canturla c'est une épicerie de produits locaux et en vrac,<br />un salon de thé, un lieu d'exposition<br /> et de vente de création à base de matériaux de récupération.</p>
                            <p class="about subheader"><img src="{{ logocanturla|imagine_filter('logocanturla') }}" width="100px"></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content has-text-right">
                            <div class="canturlacontact">
                                <h4 class="title is-4 has-text-right indieflower">Nous contacter</h4>
                                <hr>
                                <p><a class="svn" href="{{ facebook }}">Suivez-nous</a> <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></p>
                                <a href="https://www.google.fr/maps/place/49+Avenue+Gaston+Ribot,+30100+Al%C3%A8s/@44.1335763,4.0906704,17z/data=!3m1!4b1!4m5!3m4!1s0x12b4425ef4072d39:0x9eef73a6f0c28b9d!8m2!3d44.1335763!4d4.0928591" class="adressemr">{{ adresse }}</a>
                                <br />
                                <a href="https://www.google.fr/maps/place/49+Avenue+Gaston+Ribot,+30100+Al%C3%A8s/@44.1335763,4.0906704,17z/data=!3m1!4b1!4m5!3m4!1s0x12b4425ef4072d39:0x9eef73a6f0c28b9d!8m2!3d44.1335763!4d4.0928591" class="adressemr">{{ cpville }}</a>
                                <br />
                                <span class="fa-stack fa-lg adressemt"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-map-marker fa-stack-1x fa-inverse"></i></span>
                                <p>{{ telephone }} <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-phone fa-stack-1x fa-inverse"></i></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content has-text-centered">
                    <p><span class="title is-5 indieflower">Copyright {{ "now"|date('Y') }} - <b>Geek-Avenue</b> (<a href="http://meg4r0m.ovh" target="_blank">Meg4R0M</a>)</span></p>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-1.8.0.min.js" integrity="sha256-jFdOCgY5bfpwZLi0YODkqNXQdIxKpm6y5O/fy0baSzE=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
        <script src="{{ asset('/js/bulma.js') }}"></script>
        <script src="{{ asset('bundles/pages/ckeditor/ckeditor.js') }}"></script>

        <!--<script src="template/js/modernizr.custom.63321.js"></script>
        <script src="template/js/jquery.catslider.js"></script>  <!-- js slider -->

        {% block javascripts %}{% endblock %}
        <script>
            $(document).ready(function() {
                $(window).scroll(function () {
                    if ($(window).scrollTop() > 80) {
                        $("#navigation").css("background-color","rgba(54, 54, 54, 0.7)");
                    } else {
                        $("#navigation").css("background-color","rgba(54, 54, 54, 1)");
                    }
                });
            });

            if($(window).width() < 800) {
                $('div.nav-menu1').removeClass('nav-center');
            }
        </script>
    </body>
</html>