<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block titre %}Canturla - By Meg4R0M{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bulma.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/menu.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header class="navbar-fixed">
    <nav id="navigation" class="nav has-shadow hero is-dark">
        <div class="container">
            <div class="nav-left">
                <a href="{{ path('index') }}"><img src="{{ asset('img/canturladrive.png') }}" alt="Canturla Logo Min"
                                                   width="250px" class="is-12-desktop shadowfilter"></a>
            </div>
            <span id="nav-toggle" class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            <div id="nav-menu" class="nav-menu nav-menu1 nav-center">
                <a class="nav-item is-tab{% if app.request.get('_route') == 'index' %} is-active{% endif %} indieflower menutitle"
                   href="{{ path('index') }}">Accueil</a>
                <a class="nav-item is-tab{% if '/produits/' in app.request.requestUri %} is-active{% endif %} indieflower menutitle"
                   href="{{ path('categories') }}">Produits</a>
                <a class="nav-item is-tab{% if '/panier/' in app.request.requestUri %} is-active{% endif %} indieflower menutitle"
                   href="{{ path('panier') }}">Panier</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-item is-tab{% if '/profile/' in app.request.requestUri %} is-active{% endif %} indieflower menutitle"
                       href="{{ path('fos_user_profile_show') }}">Profil</a>
                {% else %}
                    <a class="nav-item is-tab{% if '/login' in app.request.requestUri %} is-active{% endif %} indieflower menutitle"
                       href="{{ path('fos_user_security_login') }}">Connection</a>
                {% endif %}
                <span class="nav-item is-offset-2 is-12-mobile">
                        {{ render(controller('EcommerceBundle:Produits:recherche')) }}
                    </span>
            </div>
        </div>
    </nav>
</header>

<div class="spacer"></div>

<div class="container">
    <div class="columns">

        <div class="column is-3">
            {% include '::modulesUsed/navigationAdmin.html.twig' %}
        </div>

        <div class="column is-9">
            {% block body %}{% endblock %}
        </div>

    </div>
</div>

<hr/>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p class=" title is-5 indieflower">Copyright {{ "now"|date('Y') }} - <b>Geek-Avenue</b> (<a
                        href="http://meg4r0m.ovh" target="_blank">Meg4R0M</a>)</p>
        </div>
    </div>
</footer>
<script src="{{ asset('/js/jquery.min.js') }}"></script>
<script src="{{ asset('/js/bulma.js') }}"></script>
<script src="{{ asset('bundles/pages/ckeditor/ckeditor.js') }}"></script>

{% block javascripts %}{% endblock %}
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 60) {
                $("#navigation").css("background-color", "rgba(54, 54, 54, 0.7)");
            } else {
                $("#navigation").css("background-color", "rgba(54, 54, 54, 1)");
            }
        });
    });
</script>
</body>
</html>