<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}Canturla - By Meg4R0M{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bulma.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
            <link rel="stylesheet" href="{{ asset('css/comments.css') }}" type="text/css" />
            {% endstylesheets %}
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower%7CRoboto">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" type="text/css" href="{{ asset('/css/component.css') }}" />
        <!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load -->
        <script src="{{ asset('/js/modernizr.custom.25376.js') }}"></script>
    </head>
    <body>
    <header class="navbar-fixed">
        <nav id="navigation" class="nav hero is-dark">
            <div class="container is-12-mobile">
                    <div class="nav-left is-2-mobile">
                        <a href="" id="showMenu" class="nav-item title is-3 indieflower" style="margin-left: 10px;"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;&nbsp;<span style="margin-top: 7px">MENU</span></a>
                    </div>
                    <div class="nav-center is-8-mobile">
                        <a href="{{ path('index') }}"><img src="{{ asset('img/canturladrive.png') }}" alt="Canturla Logo Min" class="is-12-desktop shadowfilter logo"></a>
                    </div>
                    <span id="nav-toggle" class="nav-toggle">
                    <span></span>
                </span>
                    <div id="nav-menu" class="nav-right nav-menu nav-menu1 is-2-mobile">
                        {{ render(controller('EcommerceBundle:Produits:recherche')) }}
                    </div>
            </div>
        </nav>
    </header>

    <div class="spacer"></div>
    <div id="perspective" class="perspective effect-laydown">
        <div class="containersite">
            <div class="wrapper">
    {% block body %}{% endblock %}
    <div class="has-text-centered">
        <img src="{{ asset('img/hr.png') }}" alt="hr"/>
    </div>
        <footer class="footer">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="content has-text-left">
                            <h4 class="title is-4 has-text-left indieflower">Informations</h4>
                            <hr>
                            {{ render(controller('PagesBundle:Pages:menu')) }}
                        </div>
                    </div>
                    <div class="column">
                        <div class="content has-text-centered">
                            <h4 class="title is-4 has-text-centered indieflower">Notre magasin</h4>
                            <hr>
                            <p class="about subheader">Canturla c'est une épicerie de produits locaux et en vrac,<br />un salon de thé, un lieu d'exposition<br /> et de vente de création à base de matériaux de récupération.</p>
                            <p class="about subheader"><img src="{{ 'img/logocanturla.png'|imagine_filter('logocanturla') }}" alt="logo footer" class="shadowfilter"></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content has-text-right">
                            <div class="canturlacontact">
                                <h4 class="title is-4 has-text-right indieflower">Nous contacter</h4>
                                <hr>
                                <p><a class="svn" href="https://www.facebook.com/canturla/">Suivez-nous</a> <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></p>
                                <a href="https://www.google.fr/maps/place/49+Avenue+Gaston+Ribot,+30100+Al%C3%A8s/@44.1335763,4.0906704,17z/data=!3m1!4b1!4m5!3m4!1s0x12b4425ef4072d39:0x9eef73a6f0c28b9d!8m2!3d44.1335763!4d4.0928591" class="adressemr">49 av. Gaston Ribot,</a>
                                <br />
                                <a href="https://www.google.fr/maps/place/49+Avenue+Gaston+Ribot,+30100+Al%C3%A8s/@44.1335763,4.0906704,17z/data=!3m1!4b1!4m5!3m4!1s0x12b4425ef4072d39:0x9eef73a6f0c28b9d!8m2!3d44.1335763!4d4.0928591" class="adressemr">30100 Alès</a>
                                <br />
                                <span class="fa-stack fa-lg adressemt"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-map-marker fa-stack-1x fa-inverse"></i></span>
                                <p>04 34 13 91 83 <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-phone fa-stack-1x fa-inverse"></i></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content has-text-centered">
                    <p><span class="title is-5 indieflower">Copyright {{ "now"|date('Y') }} - <b>Geek-Avenue</b> (<a href="http://meg4r0m.ovh" target="_blank">Meg4R0M</a>)</span></p>
                </div>
            </div>
        </footer>
            </div>
        </div>
    </div>
    <nav class="outer-nav top horizontal is-dark">
        <ul id="menu">
            <li><a href="{{ path('index') }}" class="indieflower menutitle">Accueil</a></li>
            <li><a href="{{ path('categories') }}" class="indieflower menutitle">Produits<span class="arrow-down"></span></a>
                <ul>
                    {{  render(controller('EcommerceBundle:Categories:menu')) }}
                </ul>
            </li>
            <li><a href="{{ path('panier') }}" class="indieflower menutitle">Panier</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a class="indieflower menutitle" href="{{ path('fos_user_profile_show') }}">Mon Compte<span class="arrow-down"></span></a>
                    <ul>
                        <li><a href="{{ path('fos_user_profile_show') }}" class="indieflower menusubtitle">Mes informations</a></li>
                        <li><a href="{{ path('fos_user_profile_edit') }}" class="indieflower menusubtitle">Editer mes informations</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}" class="indieflower menusubtitle">Changer mot de passe</a></li>
                        <li><a href="{{ path('factures') }}" class="indieflower menusubtitle">Mes factures</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}" class="indieflower menusubtitle">Deconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a class="indieflower menutitle" href="{{ path('fos_user_security_login') }}">Connection</a></li>
            {% endif %}
        </ul>
    </nav>
    <script src="{{ asset('/js/classie.js') }}"></script>
    <script src="{{ asset('/js/menu.js') }}"></script>
        <script src="{{ asset('/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/js/clipboard.min.js') }}"></script>
        <script src="{{ asset('/js/jquery.catslider.js') }}"></script>
        <script src="{{ asset('/js/modernizr.custom.63321.js') }}"></script>
        <script src="{{ asset('/js/bulma.js') }}"></script>
        <script src="{{ asset('bundles/pages/ckeditor/ckeditor.js') }}"></script>


        {% block javascripts %}{% endblock %}
        <script>
            $(document).ready(function() {
                $(window).scroll(function () {
                    if ($(window).scrollTop() > 80) {
                        $("#navigation").css("background-color","rgba(54, 54, 54, 0.7)");
                    } else {
                        $("#navigation").css("background-color","rgba(54, 54, 54, 1)");
                    }
                });
            });

            $(function() {
                $( '#mi-slider' ).catslider();
            });

        </script>
    </body>
</html>