{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Produits edit</h1>

    {{ form_start(edit_form, {'action': path('adminProduits_create', { 'id' : entity.id }), 'method': 'POST' }) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('adminProduits_index') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}