{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                <h2 class="title is-3">Edition du Produit</h2>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                {{ form_start(edit_form, {'action': path('adminProduits_create', { 'id' : entity.id }), 'method': 'POST' }) }}
                {{ form_widget(edit_form) }}
                {{ form_end(edit_form) }}

                <div class="control is-grouped">
                    <p class="control">
                        <a href="{{ path('adminProduits_index') }}" class="button is-info is-outlined">Retour à la liste</a>
                    </p>
                    <p class="control">{{ form(delete_form) }}</p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}