{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                <h2 class="title is-3 indieflower">Liste des Produits</h2>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Categorie</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Disponible</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.categorie }}</td>
                                <td>{{ entity.nom }}</td>
                                <td>{{ entity.prix }}</td>
                                {% if entity.disponible == 1 %}
                                    <td class="has-text-centered">Oui</td>
                                {% else %}
                                    <td class="has-text-centered">Non</td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('adminProduits_show', { 'id': entity.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="{{ path('adminProduits_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <ul class="has-text-right">
                    <li>
                        <a href="{{ path('adminProduits_new') }}" class="button button-vert is-outlined">Ajouter un nouveau produit</a>
                    </li>
                </ul>
            </article>
        </div>
    </div>


        <div class="tile is-ancestor">
            <div class="tile is-parent is-12">
                <article class="tile is-child box is-12">
                    <div class="navigation has-text-centered">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </article>
            </div>
        </div>

{% endblock %}