{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="columns">

            <div class="column is-12">

                <div class="tile is-ancestor">
                    <div class="tile is-parent is-12">
                        <article class="tile is-child box is-12">
                            <h2 class="title is-3 indieflower">Livraison</h2>
                        </article>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-6">
                        {% if utilisateur.adresses|length != 0 %}
                            <form action="{{ path('validation') }}" method="post">

                                <div class="tile is-ancestor">
                                    <div class="tile is-parent is-12">
                                        <article class="tile is-child box is-12">
                                            <h4 class="title is-4 indieflower">Adresse de livraison</h4>
                                            {% for adresse in utilisateur.adresses %}
                                                <label class="radio">
                                                    <input type="radio" name="livraison" value="{{ adresse.id }}" {%  if loop.index0 == 0 %}checked="checked"{% endif %}>
                                                    {{ adresse.prenom }} {{ adresse.nom }} -
                                                    {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }}<a href="{{ path('livraisonAdresseSuppression', { 'id' : adresse.id }) }}"><i class="icon-trash"></i></a>
                                                </label>
                                                {% if loop.index is divisible by(1) %}
                                                    <br /><br />
                                                {% endif %}
                                            {% endfor %}
                                        </article>
                                    </div>
                                </div>

                                <div class="tile is-ancestor">
                                    <div class="tile is-parent is-12">
                                        <article class="tile is-child box is-12">
                                            <h4 class="title is-4 indieflower">Adresse de facturation</h4>
                                            {% for adresse in utilisateur.adresses %}
                                                <label class="radio">
                                                    <input type="radio" name="facturation" value="{{ adresse.id }}" {%  if loop.index0 == 0 %}checked="checked"{% endif %}>
                                                    {{ adresse.prenom }} {{ adresse.nom }} -
                                                    {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }}<a href="{{ path('livraisonAdresseSuppression', { 'id' : adresse.id }) }}"><i class="icon-trash"></i></a>
                                                </label>
                                                {% if loop.index is divisible by(1) %}
                                                    <br /><br />
                                                {% endif %}
                                            {% endfor %}
                                        </article>
                                    </div>
                                </div>

                                <button class="button button-vert">Valider mes adresses</button>
                            </form>
                        {% endif %}
                    </div>


                    <div class="column is-6">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent is-12">
                                <article class="tile is-child box is-12">
                                    <h4 class="title is-4 indieflower">Ajouter une nouvelle adresse</h4>
                                    <form action="{{ path('livraison') }}" method="post">
                                        <p class="control">
                                            {{ form_label(form.nom) }}
                                            {{ form_widget(form.nom) }}
                                        </p>
                                        <p class="control">
                                            {{ form_label(form.prenom) }}
                                            {{ form_widget(form.prenom) }}
                                        </p>
                                        <p class="control">
                                            {{ form_label(form.telephone) }}
                                            {{ form_widget(form.telephone) }}
                                        </p>
                                        <p class="control">
                                            {{ form_label(form.adresse) }}
                                            {{ form_widget(form.adresse) }}
                                        </p>
                                        <p class="control">
                                            {{ form_label(form.cp) }}
                                            {{ form_widget(form.cp) }}
                                        </p>
                                        <p class="control">
                                            {{ form_label(form.ville) }}
                                            {{ form_widget(form.ville) }}
                                        </p>
                                        <p class="control">
                                            {{ form_label(form.pays) }}
                                            {{ form_widget(form.pays) }}
                                        </p>
                                        <p class="control">
                                            {{ form_label(form.complement) }}
                                            {{ form_widget(form.complement) }}
                                        </p>
                                        <br />
                                        {{ form_rest(form) }}
                                        <button class="button button-vert" type="submit">Ajouter</button>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}