{% extends "::layout/layout.html.twig" %}

{% set totalHT = 0 %}
{% set totalTTC = 0 %}
{% set refTva = {} %}
{% for produit in produits %}
    {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : 0 }) %}
{% endfor %}

{% block body %}
    <div class="container">
        <div class="columns">

            <div class="column is-3">
                {% include '::modulesUsed/navigation.html.twig' %}
            </div>
        
            <div class="column is-9">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <div class="tile is-ancestor">
                    <div class="tile is-parent is-12">
                        <article class="tile is-child box is-12">
                            <h2 class="title is-3">Votre panier</h2>
                        </article>
                    </div>
                </div>

                <div class="tile is-ancestor">
                    <div class="tile is-parent is-12">
                        <article class="tile is-child box is-12">
                            <table class="table is-striped">
                                <thead>
                                    <tr>
                                        <th>Références</th>
                                        <th>Quantité</th>
                                        <th>Prix unitaire</th>
                                        <th>Total HT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if produits|length == 0 %}
                                        <tr>
                                            <td colspan="4">Aucun articles dans votre panier</td>
                                        </tr>
                                    {% endif %}
                                    {% for produit in produits %}
                                        <tr>
                                            <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                                                <td>{{ produit.nom }}</td>
                                                <td>
                                                    <p class="control has-addons">
                                                        <span class="select is-small">
                                                            <select name="qte" onchange="this.form.submit()">
                                                                {% for i in 1..10 %}
                                                                    <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </span>
                                                        <a href="{{ path('supprimer', { 'id' : produit.id }) }}" class="button is-small"><i class="fa fa-trash"></i></a>
                                                    </p>
                                                </td>
                                                <td>{{ produit.prix }} €</td>
                                                <td>{{ produit.prix * panier[produit.id] }}€</td>
                                            </form>
                                        </tr>
                                        {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}
                                        {% set totalTTC = totalTTC + (produit.prix * panier[produit.id])|tva(produit.tva.multiplicate) %}
                                        {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : refTva['%' ~ produit.tva.valeur] + ( produit.prix * panier[produit.id])|montantTva(produit.tva.multiplicate) }) %}
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% if produits|length != 0 %}
                            <div class="column is-3 is-pulled-right">
                                <table class="table is-striped">
                                    <tr>
                                        <td><b>Total HT:</b></td><td>{{ totalHT }} €</td>
                                    </tr>

                                    {% for key, tva in refTva %}
                                        <tr>
                                            <td><b>TVA {{ key }}:</b></td><td>{{ tva }} €</td>
                                        </tr>
                                    {% endfor %}

                                    <tr>
                                        <td><b>Total TTC:</b></td><td>{{ totalTTC }} €</td>
                                    </tr>
                                </table>
                            </div>
                                <div class="is-clearfix"></div>
                                <a href="{{ path('livraison') }}" class="button button-vert is-pulled-right">Valider mon panier</a>
                            {% endif %}
                            <a href="{{ path('produits') }}" class="button button-vert">Continuer mes achats</a>

                        </article>
                    </div>
                </div>
        </div>

    </div>
</div>
{% endblock %}