{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="span3">
                {% include '::modulesUsed/navigation.html.twig' %}
            </div>

            <div class="span9">

                <h2>Valider mon panier</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Références</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total HT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for produit in commande.commandes.produit %}
                        <tr>
                            <td>{{ produit.reference }}</td>
                            <td>
                                {{ produit.quantite }}
                            </td>
                            <td>{{ produit.prixHT }} €</td>
                            <td>{{ produit.prixHT * produit.quantite }} €</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <dl class="dl-horizontal pull-right">
                    <dt>Total HT :</dt>
                    <dd>{{ commande.commandes.prixHT }} €</dd>

                    {% for key, tva in commande.commandes.tva %}
                        <dt>TVA {{ key }}:</dt>
                        <dd>{{ tva }} €</dd>
                    {% endfor %}

                    <dt>Total TTC:</dt>
                    <dd>{{ commande.commandes.prixTTC }} €</dd>
                </dl>

                <div class="span3 pull-left">
                    <dl class="pull-left">
                        <dt><h4>Adresse de livraison</h4></dt>
                        <dt>{{ commande.commandes.livraison.prenom }} {{ commande.commandes.livraison.nom }}</dt>
                        <dt>{{ commande.commandes.livraison.adresse }} {{ commande.commandes.livraison.nom }}</dt>
                        <dt>{{ commande.commandes.livraison.cp }} {{ commande.commandes.livraison.ville }} - {{ commande.commandes.livraison.pays }}</dt>
                    </dl>
                </div>

                <div class="span3 pull-left">
                    <dl class="pull-left">
                        <dt><h4>Adresse de facturation</h4></dt>
                        <dt>{{ commande.commandes.facturation.prenom }} {{ commande.commandes.facturation.nom }}</dt>
                        <dt>{{ commande.commandes.facturation.adresse }} {{ commande.commandes.facturation.nom }}</dt>
                        <dt>{{ commande.commandes.facturation.cp }} {{ commande.commandes.facturation.ville }} - {{ commande.commandes.facturation.pays }}</dt>
                    </dl>
                </div>

                <div class="clearfix"></div>
                <a href="#" class="btn btn-success pull-right">Payer</a>
                <a href="{{ path('livraison') }}" class="btn btn-primary">retour</a>
            </div>

        </div>
    </div>
{% endblock %}