{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                <h2 class="title is-3 indieflower">Liste des categories</h2>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12 media">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('adminCategories_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                            </td>
                            <td>{{ entity.nom }}</td>
                            <td>
                                <a href="{{ path('adminCategories_show', { 'id': entity.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="{{ path('adminCategories_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('adminCategories_new') }}" class="button button-vert is-outlined">Ajouter une
                            categorie</a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
{% endblock %}