{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                <h2 class="title is-3 indieflower">Ajouter une categorie</h2>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child box is-12">
                {{ form_start(form, {'action': path('adminCategories_create'), 'method': 'POST' }) }}
                <p class="control">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                </p>
                <fieldset style="border: none; margin-bottom: 5px">
                    <legend>{{ form_label(form.image) }}</legend>
                    <p class="control has-addons">
                        {{ form_widget(form.image.file) }}
                    </p>
                    <p class="control">
                        {{ form_label(form.image.name) }}
                        {{ form_widget(form.image.name) }}
                    </p>
                </fieldset>
                <br/>
                <div class="control is-grouped">
                    <p class="control">
                        <a href="{{ path('adminCategories_index') }}" class="button is-info is-outlined">Retour à la
                            liste</a>
                    </p>
                    <p class="control">
                        {{ form_widget(form.submit) }}
                    </p>
                </div>
                {{ form_end(form) }}
            </article>
        </div>
    </div>
{% endblock %}